@{
    ViewData["Title"] = "About";
}

<div class="text-center mb-4">
    <h1 class="display-4">About Goblin Cheese</h1>
    <br>
    <p class="fs-5">
        Goblin Cheese is just a small webapp I'm developing to learn C# and Asp.net MVC
    </p>
</div>
<div class="text-center">
    <hr class="text-dark"/>
    <p class="fs-2">
        This webapp uses the  &nbsp;<a href="https://www.themoviedb.org/"><img src="~/svg/TMDB_Attr.svg" id="tmdb-about-attr" class="hvr-grow"></a>&nbsp;  Developer API, as well as the  &nbsp;<a href="https://www.igdb.com/"><img src="~/svg/IGDB_Attr.svg" id="igdb-about-attr" class="hvr-grow"></a>&nbsp;  Developer API.
    </p>
    <hr />
</div>

