@{
    ViewData["Title"] = "About";
}

<div class="text-center">
    <h1 class="display-4">About Goblin Cheese</h1>
    <hr />
    <p class="fs-5 text-wrap w-75">
        Goblin Cheese is just a small webapp I'm developing to learn C# and Asp.net MVC
    </p>
    <hr />
    <p class="fs-6 w-50">
        This webapp will(?) use the <a href="https://www.themoviedb.org/">TMDB</a> Developer API,
        as well as IS using the <a href="https://www.igdb.com/">IGDB</a> Developer API.
    </p>
    <hr />
    <div class="row">
        <div class="col-6 text-start">
            <a href="https://www.themoviedb.org/" target="_blank"><img src="~/svg/TMDB_Attr.svg" class="w-50"></a>
        </div>
        <div class="col-6 text-end">
            <a href="https://www.igdb.com/" target="_blank"><img src="~/svg/IGDB_Attr.svg" class="w-25"></a>
        </div>
    </div>
    
</div>