@{
    ViewData["Title"] = "Home Page";
}

<div class="home-container px-4">
    <div class="row text-center mb-4">
        <h1 class="display-2 fw-bold">Welcome to Goblin Cheese!</h1>
    </div>
    <div class="row">
        <div class="col-3 bg-light border border-dark rounded-3">
            @foreach (string note in ViewBag.PatchNotes)
            {
                if (String.IsNullOrWhiteSpace(note))
                {
                    <hr/>
                } 
                else if (note.Contains("goblin cheese", StringComparison.OrdinalIgnoreCase)) 
                {
                    <p class="fw-bold fs-5">@note</p>
                } 
                else 
                {
                    <p>@note</p>
                }
                
            }
        </div>
        <div class="col-9">
            <div class="row bg-light border border-dark rounded-3">
                lol hi
            </div>
            <div class="row">
                <div class="col-6 bg-light border border-dark rounded-3">
                    this website is getting somewhere
                </div>
                <div class="col-6 bg-light border border-dark rounded-3">
                    idk where but somewhere
                </div>
            </div>
        </div>
    </div>
</div>
