@model IEnumerable<goblin_cheese.Models.Movie.Movie>

@{
    ViewData["Title"] = "Index";
}

<div class="text-center mb-4">
    @if (String.IsNullOrEmpty(ViewBag.searchQuery))
    {
        <form asp-action="Index" method="GET" class="form form-control bg-dark">
            <label for="searchQuery" class="control-label fs-2 mb-1 text-light">Search database</label>
            <div class="row mb-2">
                <div class="col-10">
                    <input type="text" name="searchQuery" id="searchQuery" value=@ViewBag.searchQuery class="form-control w-100"/>
                </div>
                <div class="col-2">
                    <input type="submit" class="btn btn-primary w-100" value="Search"/>
                </div>
            </div>
        </form>
        
    } else {
        <a asp-action="Index" class="btn btn-lg btn-outline-primary border-0 w-100">Back to search</a>
    }
</div>

@if (Model.Count() >= 1)
{
    <div class="row g-3">
        @foreach (var movie in Model)
        {
            <div class="col-2">
                <a asp-action="Details" asp-route-id=@movie.Id>
                    <div class="card movie-card bg-dark hvr-float">
                        <img src="data:image/@movie.Poster?.ContentType;base64, @movie.Poster?.getData()" class="w-100" />
                    </div>
                </a>
            </div>
        }
    </div>
} else {
    <div class="text-center mt-2">
        <h4 class="display-4">There are no movies with that name!</h4>
        <h1 class="display-3">Search TMDB?</h1>
        <form asp-action="SearchApi" method="POST">
            <input id="searchQuery" name="searchQuery" value="@ViewBag.searchQuery" hidden type="text"/>
            <input class="btn btn-lg btn-success w-50 fs-1" type="submit" value="Search!">
        </form>
    </div>
}
